<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/default :: page">
<head>
    <title>sss</title>
</head>
<body>
<div th:fragment="content">
    <h1>Form</h1>

    <form action="#" th:action="@{/dinnersuggestion}" th:object="${dinnerSuggestion}" method="post">
        <p>Restaurant: <input type="text" th:field="*{restaurantName}"/> <span
                th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}">Name Error</span></p>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>