<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/default :: page">
<head>
    <title>sss</title>
</head>
<body>
<div th:fragment="content">
    <h1>Restaurant-Vorschläge Übersicht</h1>
    <table>
        <tr th:each="recommendation : ${recommendations}">
            <td># </td>
            <td th:text="${recommendation.restaurantName}">Example Restaurant</td>
        </tr>
    </table>
    <a th:href="@{/recommendation}">Neuen Restaurantvorschlag hinzufügen</a>
</div>
</body>
</html>